body{

	background: #F5CCA0;
}

.productlogo{

	max-width: 350px;
}

.Flexs{

	display: flex;
	text-align: right;
	flex-flow: row;

}

div{

	background: white;
	max-width: 1200px;
	height: 300px;
	border-radius: 20px;
	text-align: right;
	display: flex;




}

img{

	max-width: 250px;

}
