body{

	background-color: #F5CCA0;

}

.Success {

	max-width: 100px;
}

.Continue {

	color: brown;
        
}

.h6{
	color: gray;
}

a{
	text-decoration: none;
	color: black;
}

.music{

	max-width: 142px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s;
}

.music:hover {

	transform: scale(1.1);
}