body{

	background-color: #F5CCA0;

}

.Success {

	max-width: 100px;
}

.Continue {

	color: brown;
         text-decoration: none;
}

.h6{
	color: gray;
}

a{
	text-decoration: none;
}
